/*General CSS Rules*/

* {
	font-family: "Comic Sans MS", sans-serif;
	color: #FFF;
	text-align: center;
}

body {
	background-image: url("/static/img/redplaid.jpg");
	font-size: 2.3em;
	margin: 8px;
}

a {
	text-decoration: none;
}

p, marquee {
	font-size: 1.3em;
}

h1 {
	font-size: 2em;
}

img {
	width: 100%;
}

/*Home Page CSS Rules*/

.home-title {
	-webkit-text-stroke: 4px #ff7800;
}

.button {
	background-color: #ff7800;
	padding: 0.1em;
	border-radius: 1em;
	border-bottom: 0.5em solid #a24c02;

}

ul {
	list-style-type: none;
}

/*Catalogue Page CSS Rules*/

.dance_move{
	width: 45%;
	margin: 0.2em;
	overflow: hidden;
	border-radius: 1em;
	display: inline-block;
	border: 0.3em solid #ff7800;
	background-color: #a24c02;
}

/*Dance Move Page CSS Rules*/

.dance_video {
	margin: auto;
	width: 95%;
}

input {
	color: black;
}

.travolt {
	width: 33%;
}

.pepper {
	width: 15%;
}

@media (min-width: 600px) {
	.mobile {
		display: none;
	}

  .button {
		width: 40%;
		margin: auto;
		font-size: .8em;
	}

	.desktop-collapse {
		display: inline-block;
	}

	.boogie {
		display: block;
		margin: auto;
		width: 35%;
	}

	h1 {
		margin: .2em 0;
	}

	footer {
		margin-top: .3em;
	}

	.dance_move {
		width: 20%;
	}

	.dance_move h2{
		min-height: 154px;
	}
}
