{% macro render_dances(dances) %}
<ul>
  {% for dance in dances %}
    <li class="dance_move">
      <a href='{{ "/dance/%d" % dance.id }}'>
        <h2>{{ dance.name }}</h2>
        <img src='{{ "/static/img/dance_thumbnail_%d.gif" % dance.id }}'/>
        <h3>Category: {{ dance.category }}</h3>
        <h3>Difficulty:</h3>
          {% for diff in range(dance.difficulty) %}
            <img class="pepper" src="../static/img/travolta_1.png">
          {% endfor %}
        <h3>Hotness:</h3>
          {% for hot in range(dance.hotness) %}
            <img class="pepper" src="../static/img/pepper.png">
          {% endfor %}
      </a>
    </li>
  {% endfor %}
</ul>
{% endmacro %}
