{% extends "base.html" %}

{% block title %}
Dance Categories
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}

<header>
  <h1>Categories</h1>
  <img class="mobile" src="/static/img/lawnmower.gif" />
</header>

<ul>
  {% for category in categories %}
    <li class="dance_move">
      <a href="{{ "/category/%s" % category[1] }}">
        <h2>{{ category[1] }}</h2>
        <img src='{{ "/static/img/dance_thumbnail_%s.gif" % category[1] }}'/>
      </a>
    </li>
 {% endfor %}
</ul>

<footer>
  <a href="/gifapalooza">
    <img src="/static/img/ad.png" />
  </a>
</footer>

{% endblock %}
