{% extends "base.html" %}

{% block title %}
All Dances
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<header>
  <h1>Pick A Dance Move</h1>
  <img src="/static/img/lawnmower.gif" />
</header>

<!-- <p><a href="/dance/new">New Dance</a></p> -->
<ul>
  {% for dance in dances %}
    <li class="dance_move">
      <a href='{{ "/dance/%d" % dance.id }}'>
        <h2>{{ dance.name }}</h2>
        <img src='{{ "/static/img/dance_thumbnail_%d.gif" % dance.id }}'/>
        <h3>Category: {{ dance.category }}</h3>
        <h3>Difficulty: {{ dance.diffulty }}</h3>
      </a>
    </li>
  {% endfor %}
</ul>

<footer>
  <img src="/static/img/ad_viagra.gif" />
</footer>

{% endblock %}
