{% extends "base.html" %}

{% block title %}
Dance {{ dance.name }}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Name: {{ dance.name }}</h1>
<h2>Category: {{ dance.category }} </h2>
<h2>Difficulty: {{ dance.dificulty }} </h2>
<ul>
  {% for step in dance.steps %}
    <li>{{ step.name }}</li>
    {% autoescape false %}
    <li>{{ step.vine_embedded_html }}</li>
    {% endautoescape %}
 {% endfor %}
</ul>
<iframe src="http://www.youtube.com/embed/{{ dance.youtube_id }}"
 width="560" height="315" frameborder="0" allowfullscreen></iframe>

{% endblock %}
