{% extends "base.html" %}

{% block title %}
All Dances
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<header>
  <h1>Pick A Dance Move</h1>
  <img src="/static/img/lawnmower.gif" />
</header>

<p><a href="/dance/new">New Dance</a></p>
<ul>
  {% for dance in dances %}
    <ul>
      <li>{{ dance.name }}</li>
      <li>{{ dance.category }}</li>
      <li>{{ dance.diffulty }}</li>
    </ul>
  {% endfor %}
</ul>

<footer>
  <img src="/static/img/ad_viagra.gif" />
</footer>

{% endblock %}
