{% extends "base.html" %}

{% block title %}
Dance {{ dance.name }}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Name: {{ dance.name }}</h1>
<h2 class="bump">Category: {{ dance.category }} </h2>
<ul>
  {% for step in dance.steps %}
    <li class="vine-container">
      <h3>{{ step.name }}</h3>
    {% autoescape false %}
      {{ step.vine_embedded_html }}
    </li>
    {% endautoescape %}
 {% endfor %}
</ul>

<h2>Put it all together!</h2>

<iframe src="http://www.youtube.com/embed/{{ dance.youtube_id }}"
 width="90%" height="90%" frameborder="0" allowfullscreen></iframe>

{% endblock %}
