{% extends "base.html" %}

{% block title %}
Sickening
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}

<header>
  <img src="/static/img/lawnmower.gif" />
</header>

<iframe src="https://vine.co/v/OUKgir2tI3i/embed/simple?audio=1" width="600" height="600" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>

<footer>
  <a href="/gifapalooza">
    <img src="/static/img/ad.png" />
  </a>
</footer>

{% endblock %}
