{% extends "base.html" %}

{% block title %}
THANKS
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}

<h2>www.howtodance.website</h2>
<img class="palooza" src="/static/img/dance_thumbnail_15.gif"/>

<footer>
  <img src="/static/img/ad.png" />
</footer>

<script>
  window.setInterval(function(){
    var nextImage = Math.floor((Math.random() * 15) + 1);
    $('.rotate').attr("src", "/static/img/dance_thumbnail_"+nextImage+".gif");
}, 2000);

</script>

{% endblock %}
