{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
  <header>
    <h1 class="home-title">White Man Dance Catalogue</h1>
  </header>
  <section class="">
    <marquee>Welcome!</marquee>
  </section>

  <section>
    <a href="/categories">
      <div class="button">
      <h2>Open The Catalogue <br class="mobile" />NOW!</h2>
      </div>
    </a>
  </section>

  <section>
    <p class="desktop-collapse">This is your coach:</p>
    <p class="desktop-collapse">Nick "Boogie-man" Mizesko</p>
    <img class="boogie" src="/static/img/main_goat.jpg" />
    <p>
      Have you ever wanted to be the star of the show?<br />
      Do you wish you didn't have two left feet?
    </p>
    <h1>We can help!</h1>
    <a href="/categories">
      <div class="button">
      <h2>Open The Catalogue<br />NOW!</h2>
      </div>
    </a>
  </section>

  <footer>
    <img src="/static/img/mayo.png" />
  </footer>
{% endblock %}
